body{
    overflow: hidden;
    overflow-y: auto;
}


.top-strip{
    background-color: black;
    color: white;
}
.inner-strip{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: .9rem;
}
.inner-strip a{
    color: yellow;
    font-weight: 100;
}
.img{
margin-left: 20rem;
width: 40%;
}
/* animation */
.underline-animation {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  .underline-animation::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Thickness of the underline */
    background: black; /* Color of the underline */
    transform: translateX(-50%);
    transition: width 0.4s ease;
  }
  
  /* Trigger the animation on hover */
  .underline-animation:hover::before {
    width: 100%;
  }
  /* animation */




  .scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 1rem 0;
  }
  
  .cards-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    flex: 1;
  }
  
  .card {
    min-width: 200px;
    height: 150px;
    margin: 10px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .pagination-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    margin: 0 10px;
  }
  
  .pagination-button:hover {
    background-color: rgba(0, 0, 0, 0.692);
  }
    .card img{
        width: 100%;
    }  